@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
:root{
  /* --mantine-primary-color: #646cff; */
  --mantine-secondary-color: #9775fa;
  --mantine-color-white: gainsboro;
  --mantine-color-black: #242424;
  --mrt-base-background-color: transparent; 
  /* --mrt-row-hover-background-color: #400f50; */

  --primary-backgrounbd-color: #10061c;
  /* --button-bg: #240846; */
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: clamp(0.5rem, 4vw, 2rem);
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background: var(--primary-backgrounbd-color);
  background: linear-gradient(0deg, #10061c 57%, #3b2550 93%, #3f2954 100%);
  height: 100%;
  scrollbar-width:thin;          /* "auto" or "thin" */
  scrollbar-color: #9775fa #291958;   /* scroll thumb and track */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.MRT_TopToolbar-module_root__r4-V9, .MRT_TablePaper-module_root__q0v5L{
  background-color: transparent !important;
}
th{
  background-color: var(--mantine-primary-color-filled) !important;
}
tr{
  background-color: transparent !important;
}
.mantine-Paper-root{
  border: 1px solid var(--mantine-primary-color-filled) !important;
}
.mantine-Modal-header{
  background-color: var(--mantine-primary-color-filled);
  height: 2rem !important;
  min-height: 2rem;
}
.mantine-Modal-body{
  background: linear-gradient(0deg, #0a0213 0%, #280230 100%); 
  /* background-color: var(--primary-backgrounbd-color) */
}
.mantine-Input-wrapper{
  background-color: var(--primary-backgrounbd-color) !important;
}

.mantine-TextInput-input{
  background-color: var(--primary-backgrounbd-color) !important;
}
.mantine-Input-input,.mantine-Select-input{
  background-color: var(--primary-backgrounbd-color) !important;
}